/*Universal Elements*/
* {
    margin: 0;
    padding: 0;
    }

.body {
    background-image: url(../images/oriental.png);
    background-repeat: repeat;
}
    
.nav_container {
    background-color: #ffffff;
    border-bottom: #cccccc 2px solid;
    height: 75px;
}

.footer {
    background-color: #666666;
    border-top: #4aaaa5 4px solid;
    height: 40px;
    width: 100%;
    margin-top: 75px;
    bottom: 0;
}

#copyright {
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    bottom: 0;
    vertical-align: bottom;
    margin-top: 22px;
  }

/* About Me Elements Below This Line */
#aboutme {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #dddddd 2px solid;
}

#left {
    float: left;
    width: 200px;
    height: 75px;
    margin-left: 196px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

ul {
    list-style-type: none;
    background-color: #ffffff;
    height: 75px;
    top: 0;
    margin-right: 196px;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 19px;
}

#main_container {
    max-width: 960px;
    margin-top: 20px;
    background-color: #ffffff;
    border: #dddddd 1px solid;
    margin-left: 196px;
    margin-bottom: 200px;
}

#body_copy {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    margin-left: 40px;
    margin-right: 40px;
}

#bio_image {
    float:left;
    margin-left: 40px;
    margin-top: 9px;
    padding: 0 15px 0 0;
}
/*........ End About Me .........*/


/* Contact Elements Below This Line*/

input[type=text] {
    width: 880px;
    padding: 6px 14px;
    margin: 8px -40px 8px 40px; 
    box-sizing: border-box;
    color: #777777;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 64px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 2px 40px 40px;;
    cursor: pointer;
}

#textarea {
    width: 880px;
    padding: 6px 14px;
    margin: 8px -40px 8px 40px; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#input_header {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-left: 40px;
}

/*..........End Contact Elements ........ */

/* Begin Portfolio Elements Below This Line */

.clear {clear: after;}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 32px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    flex: wrap;
    flex-wrap: wrap;
}

/* Bottom right text */
.text-block {
    position: relative;
    bottom: 85px;
    width: 275px;
    height: 50px;
    background-color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    vertical-align: center;
    float: bottom;
    line-height: 50px;
}